.home-section {
    height: 100vh;
    display: flex;
    gap: 20%;
    align-items: center;
    padding: 0 20px;
    color: white;
    height: 139%;
    position: relative;
    padding-top: 2%;
    z-index: 0;

}

.home-container {
    max-width: 50%;
    text-align: center;
    padding: 20px;
    padding-left: 100px;
}

.home-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.home-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
    background-color: #333;
    color: #fff;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Photos/Avatar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    height: 500px;
    width: 400px;
    flex-shrink: 0;
}
.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.social-links a {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
}