.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: linear-gradient(45deg, rgb(0, 0, 0) 30%, rgb(192, 192, 192) 30%);
    color: rgb(227, 227, 227);
    font-size: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Great Vibes", serif;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #020202;
    text-decoration: none;
    transition: transform 0.1s ease, color 0.2s ease;
    position: relative;
}

.nav-links li a:hover {
    animation: jiggle 0.3s infinite alternate;
    color: #000000;
}

@keyframes jiggle {
    0% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}

.nav-links .nav-icon {
    width: 18%;
    font-size: 1.5rem;
    transition: transform 0.5s ease;
}

.nav-links li:hover .nav-icon {
    transform: rotate(360deg);
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .logo {
        margin-bottom: 15px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}